body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
}
.long {
    background: #ebebeb;
    grid-column-start: 1;
    grid-column-end: 3;
}
header {
    padding: 20px;
    grid-row-start: 1;
    grid-row-end: 3
}
nav {
    padding: 20px;
    grid-row-start: 3;
    grid-row-end: 5;
}
section {
    position: relative;
    background: #ebebeb;
    padding: 10px;
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
}
aside {
    background: #ebebeb;
    padding: 10px;
    margin: 10px;
    grid-column-start: 3;
    grid-column-end: 5;
}
article {
    position: relative;
    color:#ebebeb;
    background: #777;
    padding: 5px;
}
h1 {
    color: #777;
    background: #ebebeb;
}
p {
    color: #777;
    background: #ebebeb;
}
.container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}