body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
}
h1 {
    font-size: 18px;
}
.header {
    color: #777;
    grid-column: 1/7;
    grid-row: 1/2;
    background-color: #ebebeb;
    margin: 10px;
    font-size: 18px;
}
.nav {
    color: #777;
    grid-column: 1/7;
    grid-row: 2/3;
    background-color: #ebebeb;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 18px;
}
.section {
    color: #777;
    grid-column: 1/4;
    grid-row: 3/9;
    background-color: #ebebeb;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 18px;
}
.article {
    color: #ebebeb;
    grid-column: 2/3;
    grid-row: 4/8;
    background-color: #777;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 18px;
}
#textbox1 {
    color: #777;
    grid-column: 3/4;
    grid-row: 5/6;
    background-color: #ebebeb;
    margin: 10px;
    font-size: 18px;
}
#textbox2 {
    color: #777;
    grid-column: 3/4;
    grid-row: 6/7;
    background-color: #ebebeb;
    padding-top: 10px;
    font-size: 18px;
}
.aside {
    color: #777;
    grid-column: 4/7;
    grid-row: 3/9;
    background-color: #ebebeb;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 18px;
}
.footer {
    color: #777;
    grid-column: 1/7;
    grid-row: 9/10;
    background-color: #ebebeb;
    margin: 10px;
    font-size: 18px;
}
.gridcontainer {
    display: grid
}